[package]
name = "db"
version = "0.1.0"
edition = "2021"

[dependencies]
common = { path = "../common" }
sqlx = { version = "0.8", features = ["runtime-tokio", "sqlite"] }
uuid = { version = "1", features = ["v4"] }
anyhow = "1"
